<ion-content>
  <ion-text>
    <h1>Crear evento</h1>
  </ion-text>
  <div class="input-container">
    <ion-input shape="round" [(ngModel)]="evento.Nombre" label="Nombre" labelPlacement="floating"></ion-input>
    <ion-input shape="round" [(ngModel)]="evento.Descripcion" label="Descripción" labelPlacement="floating"></ion-input>
    <ion-label>Fecha y hora </ion-label>
    <ion-datetime [(ngModel)]="this.fechaCompleta" min="2024-05-27T00:00:00"></ion-datetime>
    <ion-input shape="round" [(ngModel)]="evento.Lugar" label="Lugar" labelPlacement="floating"></ion-input>
    <ion-input shape="round" [(ngModel)]="evento.Costo" label="Costo" labelPlacement="floating"></ion-input>
    <ion-select [(ngModel)]="evento.IdCategoria" label="Tipo" labelPlacement="floating" shape="round">
      <ion-select-option value="1">Académico</ion-select-option>
      <ion-select-option value="2">AFI</ion-select-option>
      <ion-select-option value="3">Becas</ion-select-option>
      <ion-select-option value="4">Caminata</ion-select-option>
      <ion-select-option value="5">Campamento</ion-select-option>
      <ion-select-option value="6">Campaña</ion-select-option>
      <ion-select-option value="7">Cátedra</ion-select-option>
      <ion-select-option value="8">Ceremonia</ion-select-option>
      <ion-select-option value="9">Certamen</ion-select-option>
      <ion-select-option value="10">Certificación</ion-select-option>
      <ion-select-option value="11">Ciclo de película</ion-select-option>
      <ion-select-option value="12">Clase magistral</ion-select-option>
      <ion-select-option value="13">Coloquio</ion-select-option>
      <ion-select-option value="14">Concurso</ion-select-option>
      <ion-select-option value="15">Conferencia</ion-select-option>
      <ion-select-option value="16">Congreso</ion-select-option>
      <ion-select-option value="17">Convocatoria</ion-select-option>
      <ion-select-option value="18">Cultural</ion-select-option>
      <ion-select-option value="19">Cumbre</ion-select-option>
      <ion-select-option value="20">Curso</ion-select-option>
      <ion-select-option value="21">Danza</ion-select-option>
      <ion-select-option value="22">Deportes</ion-select-option>
      <ion-select-option value="23">Diálogo</ion-select-option>
      <ion-select-option value="24">Diplomado</ion-select-option>
      <ion-select-option value="25">Emprendimiento</ion-select-option>
      <ion-select-option value="26">Encuentro</ion-select-option>
      <ion-select-option value="27">Espectáculo</ion-select-option>
      <ion-select-option value="28">Espectáculo Danza</ion-select-option>
      <ion-select-option value="29">Eventos</ion-select-option>
      <ion-select-option value="30">Exposición</ion-select-option>
      <ion-select-option value="31">Feria</ion-select-option>
      <ion-select-option value="32">Jornada</ion-select-option>
      <ion-select-option value="33">Masterclass</ion-select-option>
      <ion-select-option value="34">Musical</ion-select-option>
      <ion-select-option value="35">Ópera</ion-select-option>
      <ion-select-option value="36">Pláticas</ion-select-option>
      <ion-select-option value="37">Premio</ion-select-option>
      <ion-select-option value="38">Presentación</ion-select-option>
      <ion-select-option value="39">Programa</ion-select-option>
      <ion-select-option value="40">Recorridos</ion-select-option>
      <ion-select-option value="41">Responsabilidad Social</ion-select-option>
      <ion-select-option value="42">Reunión</ion-select-option>
      <ion-select-option value="43">Seminario</ion-select-option>
      <ion-select-option value="44">Sesión</ion-select-option>
      <ion-select-option value="45">Sesión Informativa</ion-select-option>
      <ion-select-option value="46">Simposio</ion-select-option>
      <ion-select-option value="47">Sorteo</ion-select-option>
      <ion-select-option value="48">Taller</ion-select-option>
      <ion-select-option value="49">Teatro</ion-select-option>
      <ion-select-option value="50">Torneo</ion-select-option>
      <ion-select-option value="51">Transmisión</ion-select-option>
      <ion-select-option value="52">Turismo</ion-select-option>
      <ion-select-option value="53">Webinar</ion-select-option>
    </ion-select>
    <ion-select shape="round" [(ngModel)]="evento.IdDependencia" label="Dependencia" labelPlacement="floating">
      <ion-select-option value="1">Rectoría</ion-select-option>
      <ion-select-option value="2">FCFM</ion-select-option>
      <ion-select-option value="3">FCB</ion-select-option>
      <ion-select-option value="4">FIME</ion-select-option>
      <ion-select-option value="5">FCQ</ion-select-option>
      <ion-select-option value="6">FACPYA</ion-select-option>
      <ion-select-option value="7">FAECO</ion-select-option>
      <ion-select-option value="8">FAEN</ion-select-option>
      <ion-select-option value="9">FACPYRI</ion-select-option>
      <ion-select-option value="10">FARQ</ion-select-option>
    </ion-select>
    <ion-select [(ngModel)]="privacidad" label="Privacidad" shape="round" labelPlacement="floating">
      <ion-select-option value="Público">Público</ion-select-option>
      <ion-select-option value="Privado">Privado</ion-select-option>
    </ion-select>
    <ion-label>Si no es numerado, deje vacío el siguiente campo</ion-label>
    <ion-input (ionChange)="arrayNumber = getNumberArray(evento.Cupo)" shape="round" [(ngModel)]="evento.Cupo" label="Cantidad de Asientos" labelPlacement="floating"></ion-input>
    <ion-list *ngIf="privacidad == 'Privado' && evento.asientos">
      <ion-item *ngFor="let i of arrayNumber">
        <ion-input shape="round" label="Invitado" labelPlacement="floating"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button (click)="enviarInfo()" shape="round" [disabled]="this.evento.Nombre == '' || this.evento.Descripcion == '' || this.evento.Lugar == ''">Crear evento</ion-button>
  </div>
</ion-content>
