<div class="main-container">
  <div class="input-text">
    <ion-text>
      <h2>Accede a tu cuenta</h2>
      <small>¿No tienes cuenta? <a [routerLink]="'/home/signup/'">Regístrate</a></small>
    </ion-text>
  </div>
  <div class="input-container">
    <ion-input labelPlacement="floating" label="Nombre" [(ngModel)]="user.username" name="name"></ion-input>
    <ion-input type="password" labelPlacement="floating" label="Contraseña" [(ngModel)]="user.passwd" name="name"></ion-input>
    <ion-button (click)="iniciarSesion()" [disabled]="!user.username || !user.passwd">Iniciar sesión</ion-button>
  </div>
</div>
