<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Eventos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main-container">
    <div class="btns">
      <ion-button shape="round" (click)="crearEvento()">Registrar Evento</ion-button>
      <ion-button shape="round" (click)="gestionarEvento()">Gestionar Evento</ion-button>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="2" *ngFor="let evento of eventosArray">
          <app-evento (click)="goToEvento(evento.id)" [inputId]="evento.id"></app-evento>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
